= form_for @hero, :html => {:class => "form-horizontal" } do |f|
  - if @hero.errors.any?
    #error_explanation
      %div{:class => "alert alert-error"}
        %h2= "#{pluralize(@hero.errors.count, "error")} prohibited this hero from being saved:"
        %ul
          - @hero.errors.full_messages.each do |msg|
            %li= msg
  %fieldset
    %div.control-group
      = f.label :name, :class => "control-label"
      %div.controls
        = f.text_field :name, :class => "input-xlarge"
    %div.control-group
      = f.label :insight, :class => "control-label"
      %div.controls
        = f.number_field :insight, :class => "input-xlarge"
    %div.control-group
      = f.label :perception, :class => "control-label"
      %div.controls
        = f.number_field :perception, :class => "input-xlarge"
    %div.control-group
      = f.label :fortitude, :class => "control-label"
      %div.controls
        = f.number_field :fortitude, :class => "input-xlarge"
    %div.control-group
      = f.label :reflex, :class => "control-label"
      %div.controls
        = f.number_field :reflex, :class => "input-xlarge"
    %div.control-group
      = f.label :will, :class => "control-label"
      %div.controls
        = f.number_field :will, :class => "input-xlarge"
    %div.control-group
      = f.label :hero_class, :class => "control-label"
      %div.controls
        = f.text_field :hero_class, :class => "input-xlarge"
    %div.control-group
      = f.label :race, :class => "control-label"
      %div.controls
        = f.text_field :race, :class => "input-xlarge"
    %div.control-group
      = f.label :player, :class => "control-label"
      %div.controls
        = f.text_field :player, :class => "input-xlarge"
    %div.control-group
      = f.label :experience, :class => "control-label"
      %div.controls
        = f.number_field :experience, :class => "input-xlarge"
    %div.control-group
      = f.label :background, :class => "control-label"
      %div.controls
        = f.text_area :background, :class => "input-xlarge"
    %div.form-actions
      = f.submit 'Save', :class => "btn btn-primary"
