%div.hero-unit
  %h1 Heroes

%table{:class => "table table-striped table-bordered","data-provides" => "rowlink"}
  %thead
    %tr
      %th Name
      %th Class and Race
      %th Player
      %th Level
      %th Experience
      %th #Items
      - if @details
        %th PP
        %th PI
        %th F
        %th R
        %th W
  %tbody
    - @heros.each do |hero|
      %tr
        %td
          %b=link_to hero.name, hero
        %td= "#{hero.hero_class} #{hero.race}"
        %td= hero.player
        %td= hero.level
        %td= "#{hero.experience} / #{hero.next_experience}"
        %td= "#{hero.given_items.count}/#{hero.items.count}"
        - if @details
          %td= hero.passive_perception
          %td= hero.passive_insight
          %td= hero.fortitude
          %td= hero.reflex
          %td= hero.will

= link_to 'New Hero', new_hero_path, :class => "btn btn-primary btn-large"
= link_to 'Details', details_heros_path, :class => "btn btn-primary btn-large"

%div.hero-unit
  = form_tag assign_experience_heros_path, :method => :put, :class => "form-inline" do
    = number_field_tag :experience, 0
    = submit_tag "Assign experience points", :class => "btn btn-success"

