%div.hero-unit
  %h1 Heroes

%table{:class => "table table-striped table-bordered","data-provides" => "rowlink"}
  %thead
    %tr
      %th Name
      %th Player
      %th Level
      %th Experience
      %th #Items
  %tbody
    - @heros.each do |hero|
      %tr
        %td
          =link_to hero.name, hero
        %td= hero.player
        %td= hero.level
        %td= "#{hero.experience} / #{hero.next_experience}"
        %td= "#{hero.given_items.count}/#{hero.treasures.count}"

= link_to 'New Hero', new_hero_path, :class => "btn btn-primary btn-large"

%div.hero-unit
  = form_tag assign_experience_heros_path, :method => :put, :class => "form-inline" do
    = number_field_tag :experience, 0
    = submit_tag "Assign experience points", :class => "btn btn-success"

