%div.page-header
  %h2
    = @monster.name
  %p="Level #{@monster.level}"

%div{:class => "row-fluid"}
  = image_tag(Monster.image_of(@monster))

%div{:class => "row-fluid well"}
  %div.span3
    = button_to 'Edit', edit_monster_path(@monster), :method => :get, :class => "btn btn-primary btn-large"
  %div.span3
    = button_to 'Delete', monsters_path, :method => :delete, :confirm => "Are you sure you want to delete monster #{@monster.name}?", :class => "btn btn-danger btn-large"
  %div.span3
    = button_to 'Back', monsters_path, :method => :get, :class => "btn btn-primary btn-large"
