%p#notice= notice

%p
  %b Name:
  = @monster.name
%p
  %b Level:
  = @monster.level

= image_tag(Monster.image_of(@monster))

= link_to 'Edit', edit_monster_path(@monster)
\|
= link_to 'Back', monsters_path
