%div{:class => "well"}
  %div.span3
    = button_to 'Edit', edit_monster_path(@monster), :method => :get, :class => "btn btn-primary "
  %div.span3
    = button_to 'Delete', @monsters, :method => :delete, :confirm => "Are you sure you want to delete monster #{@monster.name}?", :class => "btn btn-danger "
  %div.span3
    = button_to 'Back', monsters_path, :method => :get, :class => "btn btn-primary "

%div.page-header
  %h2
    = "#{@monster.name}"
    = @monster.creature? ? "" : "[#{@monster.kind.capitalize}]"
  %p
    = @monster.normal? ? "" : "#{@monster.tier.capitalize} Monster"
    = "Level #{@monster.level}"

%div{:class => "row-fluid"}
  = image_tag(@monster.image)

