%script
  :plain
    $(function() {
  ="var target = #{Encounter.exp.map { |e|  e * Hero.count()} }"
  :plain
    create_encounter_creation(target);
    });


= form_for @encounter, :html => {:class => "form-horizontal" } do |f|
  - if @encounter.errors.any?
    #error_explanation
      %div{:class => "alert alert-error"}
        %h2= "#{pluralize(@encounter.errors.count, "error")} prohibited this encounter from being saved:"
        %ul
          - @encounter.errors.full_messages.each do |msg|
            %li= msg

  %div.form-actions
    = f.submit 'Save', :class => "btn btn-primary"
  %fieldset
    %div.control-group
      = f.text_field :name, :class => "input-xlarge", :placeholder => "Name"
    %div.row-fluid
      %div{:class => "control-group span3"}
        = f.text_area :setup, :class => "input-normal", :placeholder => "Setup"
      %div{:class => "control-group span3"}
        = f.text_area :tactics, :class => "input-normal", :placeholder => "Tactics"
      %div{:class => "control-group span3"}
        = f.text_area :features, :class => "input-normal", :placeholder => "Features"
      %div{:class => "control-group span3"}
        = f.text_area :conclusion, :class => "input-normal", :placeholder => "Conclusion"
    %div.row-fluid
      %div.span6
        %div{:class => "control-group row-fluid"}
          %div{:class => "span2"}
            = f.number_field :experience, :class => "input-small", :placeholder => "Exp"
          %div{:class => "offset3 "}
            = number_field_tag "computed-exp", 0, :class => "input-small"
            Target:
            %span{:id => "target-lev"} 
        %label.radio
          = f.check_box :completed
          = "Completed"
        - monsters = Monster.all(:order => "level DESC, name ASC")
        - monsters.each do |monster|
          %div{:class => "controls-row"}
            %label{:class => "span8"}
              = "#{monster.name} (#{monster.tier.capitalize} #{monster.level})"
              = check_box_tag "incmonster[#{monster.id}]", true, @encounter.monsters.include?(monster), :class => "monster-check"
              = hidden_field_tag "expmonster[#{monster.id}]", monster.experience
            - count = @encounter.monsters.count(:conditions => "monster_id = #{monster.id}")
            - count = 1 if count == 0
            = number_field_tag "nummonster[#{monster.id}]", count, :class => "input-mini span2 nummonster"
      %div.span5
        - monsters.each do |monster|
          = image_tag(monster.image, :class => "img-rounded", :id => "img_#{monster.id}")
