%div.hero-unit
  %h1 Encounters

%table{:class => "table table-striped table-bordered","data-provides" => "rowlink"}
  %thead
    %tr
      %th Name
      %th Monsters
      %th Experience
  %tbody
  - @encounters.each do |encounter|
    %tr{:class => (encounter.completed) ? "success" : "progress"}
      %td
        = link_to encounter.name, encounter
      %td
        - encounter.monsters.all.uniq.each do |monster|
          = "#{encounter.monsters.all.count(monster)} #{monster.name} (Level #{monster.level}) "
      %td= "Level #{encounter.target_level Hero.count()}, Exp: #{encounter.experience}"

= link_to 'New Encounter', new_encounter_path, :class => "btn btn-primary btn-large"
