%script
  :plain
    $(function() { initEncounter("\
  = "#{encounter_path(:id => @encounter.id, :format => :json)}\\"
  :plain
    ", "\
  = "#{heros_path(:format => :json)}\\"
  :plain
    ");
    });

%div{:class => "row-fluid"}
  = link_to 'Edit', edit_encounter_path(@encounter)
  = link_to 'Back', encounters_path

  %h2
    = "#{@encounter.name} encounter (#{@encounter.experience} EXP)"
    - if @encounter.completed
      = "- completed"
    - else
      = "- progress"
  %div#encounter_commands{:class => "span5 well", :style => "position: fixed;"}
    = form_tag complete_encounter_path(@encounter), :method => :put do
      = hidden_field_tag :experience, "#{@encounter.experience}"
      = submit_tag "Complete encounter!", :class => "btn btn-success"
    %ul{:class => "nav nav-list", :exp => @encounter.experience}
      %li.nav-header Monsters
      - @encounter.monsters.all.uniq.each do |monster|
        %li= "#{@encounter.monsters.all.count(monster)} #{monster.name}, Level #{monster.level}"
    %div{:class => "pre-scrollable", :style => "max-height: 450px"}
      -@encounter.monsters.all.uniq.each do |monster|
        = image_tag(monster.image, :class => "img-rounded")
  %div#encounter_container{:class => "offset5"}
