%script
  :plain
    $(function() { initEncounter("\
  = "#{encounter_path(:id => @encounter.id, :format => :json)}\\"
  :plain
    ", "\
  = "#{heros_path(:format => :json)}\\"
  :plain
    ");
    });

%div{:class => "row-fluid"}
  = link_to 'Edit', edit_encounter_path(@encounter)
  = link_to 'Back', encounters_path

  %h2= "#{@encounter.name} encounter"
  %div#encounter_commands{:class => "span5 well"}
    %ul{:class => "nav nav-list"}
      %li.nav-header Monsters
      - @encounter.monsters.all.uniq.each do |monster|
        %li= "#{@encounter.monsters.all.count(monster)} #{monster.name}, Level #{monster.level}"
    %div{:class => "pre-scrollable", :style => "max-height: 20%"}
      -@encounter.monsters.all.uniq.each do |monster|
        = image_tag(Monster.image_of(monster), :class => "img-rounded")
  %div#encounter_container{:class => "offset5"}
