%script
  :plain
    $(function() { initEncounter("\
  = "#{encounter_path(:id => @encounter.id, :format => :json)}\\"
  :plain
    ", "\
  = "#{heros_path(:format => :json)}\\"
  :plain
    ");
    $("[id^='cmd']").each(function (i, e) {
      $(this).click(function () {
        id = $(this).attr("id").split("-")[1]
        $("#"+id).toggle();
      });
    });
    });

%div{:class => "row-fluid"}
  = link_to 'Edit', edit_encounter_path(@encounter)
  = link_to 'Back', encounters_path

  %h2
    = "#{@encounter.name} encounter (#{@encounter.experience} EXP)"
    - if @encounter.completed
      - if @encounter.bypassed
        = "- bypassed"
      - else
        = "- completed"
    - else
      = "- progress"
  %div#encounter_commands{:class => "offset9 well", :style => "position: fixed"}
    = button_to "Complete encounter!", complete_encounter_path(@encounter), :method => :put, :class => "btn btn-success"
  %div#encounter_data{:class => "span5 well", :style => "height: 90%"}
    %ul{:class => "nav nav-list pre-scrollable", :style => ""}
      %li{:class => "nav-header", :id => "cmd-setup"} SETUP
      %div#setup
        - @encounter.setup.split(/\n\W*\n/).each do |b|
          %li= b
      %li{:class => "nav-header", :id => "cmd-tactics"} TACTICS
      %div#tactics
        - @encounter.tactics.split(/\n\W*\n/).each do |b|
          %li= b
      %li{:class => "nav-header", :id => "cmd-features"} FEATURES
      %div#features
        - @encounter.features.split(/\n\W*\n/).each do |b|
          %li= b
      %li{:class => "nav-header", :id => "cmd-conclusion"} CONCLUSION
      %div#conclusion
        - @encounter.conclusion.split(/\n\W*\n/).each do |b|
          %li= b
      %li{:class => "nav-header", :id => "cmd-monsters"} MONSTERS
      %div#monsters
        - @encounter.monsters.all.uniq.each do |monster|
          %li= "#{@encounter.monsters.all.count(monster)} #{monster.name}, Level #{monster.level}"
    %ul{:class => "nav nav-list"}
      %li
        -@encounter.monsters.all.uniq.each do |monster|
          = image_tag(monster.image, :class => "img-rounded")
  %div#encounter_container{:class => "offset5"}
