= form_for @achievement, :html => {:class => "form-horizontal" } do |f|
  - if @achievement.errors.any?
    #error_explanation
      %div{:class => "alert alert-error"}
        %h2= "#{pluralize(@achievement.errors.count, "error")} prohibited this achievement from being saved:"
        %ul
          - @achievement.errors.full_messages.each do |msg|
            %li= msg
  %fieldset
    %div.control-group
      = f.label :name, :class => "control-label"
      %div.controls
        = f.text_field :name, :class => "input-xlarge"
    %div.control-group
      = f.label :description, :class => "control-label"
      %div.controls
        = f.text_area :description, :class => "input-xlarge"
    -unless @achievement.achievement_instances.nil?
      %hr
      - @achievement.achievement_instances.each do |instance|
        %div.control-group
          %label.control-label= instance.hero.name
          %div.controls
            = text_area_tag "instance_description[#{instance.id}]", instance.description, :class => "input-xlarge"
            Delete?
            = check_box_tag "instance_delete[#{instance.id}]", "delete", checked = false

    %div.form-actions
      = f.submit 'Save', :class => "btn btn-primary"

