%div{:class => "well"}
  %div.span3
    = button_to 'Edit', edit_achievement_path(@achievement), :method => :get, :class => "btn btn-primary "
  %div.span3
    = button_to 'Delete', @achievement, :method => :delete, :confirm => "Are you sure you want to delete achievement #{@achievement.name}?", :class => "btn btn-danger "
  %div.span3
    = button_to 'Back', achievements_path, :method => :get, :class => "btn btn-primary "

%div.hero-unit{:style => "text-align: center"}
  = image_tag @achievement.image, :width => "300px", :align => "center"
  %h1
    = "#{@achievement.name}"
  %div.page-header
    %h4= "#{@achievement.description}"

%div.well{:style => "text-align: center"}
  - @achievement.achievement_instances.each do |achievement_instance|
    %h3= link_to achievement_instance.hero.name.upcase, achievement_instance.hero
    -achievement_instance.description.split(/\n\W*\n/).each do |b|
      %p= b
