= form_for @treasure, :html => {:class => "form-horizontal" } do |f|
  - if @treasure.errors.any?
    #error_explanation
      %div{:class => "alert alert-error"}
        %h2= "#{pluralize(@treasure.errors.count, "error")} prohibited this treasure from being saved:"
        %ul
          - @treasure.errors.full_messages.each do |msg|
            %li= msg

  %fieldset
    %div.form-actions
      = f.submit 'Save', :class => "btn btn-primary"
    - @treasure.level ||= Hero.first.level
    %div.control-group
      = f.label :description, :class => "control-label"
      %div.controls
        = f.text_field :description
    %div.control-group
      = f.label :level, :class => "control-label"
      %div.controls
        = f.number_field :level

    %ul{:class => "nav nav-list"}
      %li{:class => "nav-header", :id => "cmd-setup"} ITEMS
      %div{:id => "items" }
        - Item.all(:order => "level DESC, name").each do |item|
          - next if @new and item.level > 0 and TreasureComponent.where(:item_id => item.id).present?
          %li
            %div{:class => "controls-row"}
              %label{:class => "span5"}
                = "#{item.name} (#{item.level})"
                = check_box_tag "component[ids][#{item.id}]", true, @treasure.items.include?(item), :class => "item-check"
              - rel = @treasure.treasure_components.where(:item_id => item.id)
              - component = rel.empty? ? nil : rel.first
              - quantity = component.nil? ? 1 : component.quantity
              - quantity_assigned = component.nil? ? 0 : component.quantity_assigned
              - hero_id = (component.nil? or component.hero.nil?) ? -1 : component.hero.id
              - description = component.nil? ? "" : component.description
              = number_field_tag "component[quantity][#{item.id}]", quantity, :class => "input-mini span2"
              = number_field_tag "component[quantity_assigned][#{item.id}]", quantity_assigned, :class => "input-mini span2"
              = text_field_tag "component[description][#{item.id}]", description, :class => "input-mini span2"
              = select_tag "component[hero][#{item.id}]", options_from_collection_for_select(Hero.all, 'id', 'name', hero_id), :include_blank => true

