%div.item-unit
  %h1 Treasures

%table{:class => "table table-striped table-bordered","data-provides" => "rowlink"}
  %thead
    %tr
      %th Description
      %th Level
      %th Items
      %th Action
  %tbody
    - @treasures.each do |treasure|
      %tr{:class => (treasure.complete?) ? "success" : ""}
        %td= link_to treasure.description, treasure
        %td= treasure.level
        %td.nolink
          - treasure.treasure_components.each do |c|
            - quantity = c.quantity > 1 ? "#{c.quantity} " : ""
            = link_to "[#{quantity}#{c.item.name}]", c.item

        %td= link_to "Give treasure", giveall_treasure_path(treasure), :class => "btn btn-primary nolink", :method => :put

%br

= link_to 'New Treasure', new_treasure_path, :class => "btn btn-primary btn-large"
