%div.page-header
  %h2
    = @treasure.description

%div{:class => "hero-unit"}
  %dl{:class => "dl-horizontal"}
    %dt Item:
    %dd=link_to @treasure.item.name, item_path(@treasure.item)
    %dt Quantity given:
    %dd="#{@treasure.quantity_assigned}/#{@treasure.quantity}"
    %dt Level-Packet:
    %dd="#{@treasure.level}-#{@treasure.packet}"
    %dt Assigned Hero:
    %dd
      - if !@treasure.hero.nil?
        =link_to @treasure.hero.name, @treasure.hero

%div{:class => "row-fluid"}
  %div.span2
    = button_to 'Assign', give_treasure_path(@treasure), :method => :put, :class => "btn btn-primary btn-large"
  %div.span2
    = button_to 'Edit', edit_treasure_path(@treasure), :method => :get, :class => "btn btn-primary btn-large"
  %div.span2
    = button_to 'Delete', treasures_path, :method => :delete, :confirm => "Are you sure you want to delete this treasure?", :class => "btn btn-danger btn-large"
  %div.span2
    = button_to 'Back', treasures_path, :method => :get, :class => "btn btn-primary btn-large"
